{
    order coraza_waf first
    admin off
}

:80 {
    coraza_waf {
        directives `
            Include /etc/caddy/coraza.conf
            Include /etc/caddy/crs/crs-setup.conf
            Include /etc/caddy/crs/rules/*.conf
            SecRuleEngine On
        `
    }
    respond "OK" 200
}
