{
    order coraza_waf first
}

:80 {
    coraza_waf {
        directives `
            Include /etc/caddy/coraza.conf
            Include /etc/caddy/crs/crs-setup.conf
            Include /etc/caddy/crs/rules/*.conf
            SecRuleEngine On
        `
    }
    reverse_proxy localhost:8080
}
